<div id="crew" class="section">
	<div class="container col-lg-12">
		<div class="row">
			<h1>Crew</h1>
			<div class="cast-member col-md-2 col-xs-4">
				<%= image_tag 'crew/joe.jpg', :class => "img-responsive", :alt => "Joe" %>
				<h3>Joeseph Beverley</h3>
				<h4>Writer &amp; Director</h4>
			</div>
			<div class="cast-member col-md-2 col-xs-4">
				<%= image_tag 'crew/florence.jpg', :class => "img-responsive", :alt => "Florence" %>
				<h3>Florence Hurley</h3>
				<h4>Producer</h4>
			</div>
			<div class="cast-member col-md-2 col-xs-4">
				<%= image_tag 'crew/aylish.jpg', :class => "img-responsive", :alt => "Aylish" %>
				<h3>Aylish Cannock</h3>
				<h4>Screenplay Writer</h4>
			</div>
			<div class="cast-member col-md-2 col-xs-4">
				<%= image_tag 'crew/troy.jpg', :class => "img-responsive", :alt => "Troy" %>
				<h3>Troy Hunter</h3>
				<h4>Editor</h4>
			</div>
			<div class="cast-member col-md-2 col-xs-4">
				<%= image_tag 'crew/dan.jpg', :class => "img-responsive", :alt => "Dan" %>
				<h3>Dan Baines</h3>
				<h4>1st Assistant Director</h4>
			</div>
			<div class="cast-member col-md-2 col-xs-4">
				<%= image_tag 'crew/duncan.jpg', :class => "img-responsive", :alt => "Duncan" %>
				<h3>Duncan Trevithick</h3>
				<h4>Director of Photography</h4>
			</div>
			<div class="cast-member col-md-2 col-xs-4">
				<%= image_tag 'crew/aidan.jpg', :class => "img-responsive", :alt => "Aidan" %>
				<h3>Aidan Chase</h3>
				<h4>Sound Designer</h4>
			</div>
			<div class="cast-member col-md-2 col-xs-4">
				<%= image_tag 'crew/jon.jpg', :class => "img-responsive", :alt => "Jonathon" %>
				<h3>Jonathon Orrel</h3>
				<h4>Production Designer</h4>
			</div>
		</div>
		<div class="row">
			<hr />
			<div class="col-sm-12 text-center">
				<h4><a href="http://www.imdb.com/title/tt2610346/fullcredits" target="_blank">Full credits on IMDB</a></h4>
			</div>
		</div>
	</div>
</div>


